
script(src='//code.jquery.com/jquery-2.1.0.js')
script(src='js/sprite.js')
script(src='js/resources.js')
script(src='js/vector.js')
script(src='js/main.js')
link(rel='stylesheet' href='css/app.css')

canvas#canvas(width='1000', height='800')

div#score
div#instructions 
 h1 Rules: 
 li You can create up to 3 groups of circles.
 li When circles touch they merge into a group.
 li Each group can be clicked to expand it.
 li Kill all the things.
 li Good luck.
 
  

`(x-a1)^2 + (y-b1)^2 = r1`
`(x-a2)^2 + (y-b2)^2 = r2`
